# .github/workflows/build.yml
name: Clamscan Test Suite
on: 
  pull_request:
  push:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12,13,14,15,16,17,18,19]
    steps:
      - name: Update Apt
        run: sudo apt-get update
      - name: Install ClamAV
        run: sudo apt-get install clamav clamav-daemon clamdscan
      - name: Restart Freshclam
        run: sudo systemctl restart clamav-freshclam
      - name: Chill for 30 seconds
        run: sleep 30
      - name: Restart ClamD
        run: sudo systemctl restart clamav-daemon
      - name: Chill for 30 seconds again
        run: sleep 30
      - name: Install OpenSSL
        run: sudo apt-get install openssl
      - name: Generate Key Pair for TLS
        run: openssl req -new -sha256 -subj "/C=US/ST=Denial/L=Springfield/O=Dis/CN=localhost" -newkey ed25519 -keyout key.pem -nodes -x509 -days 365 -out cert.pem
      - name: Install stunnel
        run: sudo apt-get install stunnel4
      - name: Install / Trust certificate
        run: |
          sudo cp cert.pem /usr/local/share/ca-certificates/snakeoil.crt
          sudo update-ca-certificates
          sudo cp cert.pem /etc/stunnel/cert.pem
          sudo cp key.pem /etc/stunnel/key.pem
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set stunnel config
        run: sudo cp tests/stunnel.conf /etc/stunnel/
      - name: Restart stunnel
        run: sudo /etc/init.d/stunnel4 restart
      - name: inspect
        run: |
          pwd
          whoami
          ls -laR tests
          ps -eF|grep clam
          sudo -u clamav clamdscan tests/good_scan_dir/good_file_1.txt
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm test
