# .github/workflows/build.yml
name: Clamscan Test Suite
on: 
  pull_request:
  push:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        node-version: [12,13,14,15,16,17,18,19]
    steps:
      - name: Update Apt
        run: sudo apt-get update
      - name: Install ClamAV
        run: sudo apt-get install clamav clamav-daemon
      - name: Restart Freshclam
        run: sudo systemctl restart clamav-freshclam
      - name: Wait for freshclam to be up to date
        run: |
          until sudo grep "$(date | cut -c -10)" /var/log/clamav/freshclam.log | grep -Eq 'Clamd was NOT notified|Clamd successfully notified about the update.'; do sleep 1; done;
          sudo tail /var/log/clamav/freshclam.log
      - name: Restart ClamD
        run: sudo systemctl restart clamav-daemon
      - name: Install OpenSSL
        run: sudo apt-get install openssl
      - name: Generate Key Pair for TLS
        run: openssl req -new -sha256 -subj "/C=US/ST=Denial/L=Springfield/O=Dis/CN=localhost" -addext "subjectAltName = DNS:localhost,IP:127.0.0.1" -newkey ed25519 -keyout key.pem -nodes -x509 -days 365 -out cert.pem
      - name: Install stunnel
        run: sudo apt-get install stunnel4
      - name: Install / Trust certificate
        run: |
          sudo cp cert.pem /usr/local/share/ca-certificates/snakeoil.crt
          sudo update-ca-certificates
          sudo cp cert.pem /etc/stunnel/cert.pem
          sudo cp key.pem /etc/stunnel/key.pem
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set stunnel config
        run: sudo cp tests/stunnel.conf /etc/stunnel/
      - name: Restart stunnel
        run: sudo systemctl restart stunnel4
      - name: Open ~ for all users to read
        run: chmod 755 ~
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
      - name: Wait for ClamD Socket
        run: |
          sudo systemctl status clamav-daemon;
          sudo journalctl -e -u clamav-daemon;
      - name: Run tests
        run: npm test
        env:
          NODE_EXTRA_CA_CERTS: /usr/local/share/ca-certificates/snakeoil.crt
